*.env
storage/
volumes/
.vscode/
assets/**
!assets/
!assets/header-e-ticket-mail.png
!assets/speaker/
!assets/speaker/.gitkeep
!assets/qrcode/
!assets/qrcode/.gitkeep
!assets/sponsorship/
!assets/sponsorship/.gitkeep
!assets/merch/
!assets/merch/.gitkeep
!assets/ticket/
!assets/ticket/.gitkeep
!assets/bundle/
!assets/bundle/.gitkeep